.row {
    margin-left: 2rem;
    color: white;
    margin-top: 1rem;
}

.posters {
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    min-width: 330px;
    min-height: 210px;
    margin-right: 0.8rem;
    overflow: hidden;
    cursor: pointer;
}

.smallPoster {
    min-width: 200px;
    min-height: 120px;
    margin-right: 0.8rem;
    overflow: hidden;
    cursor: pointer;
}

.poster img {
    transition: 0.3s all ease-in-out;
}

.poster img:hover {
    transform: scale(1.2);
}

.smallPoster img {
    transition: 0.3s all ease-in-out;
}

.smallPoster img:hover {
    transform: scale(1.2);
}